@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/* ============================================================================ 
Variables
===============================================================================*/

:root {
  /*Color: Primario*/
  --color-primaryD-1: darkblue;
  --color-primary-2: blue;
  --color-primaryL-3: lightblue;

  /* Color: Grises */
  --color-greyD-1: darkgrey;
  --color-grey-2: grey;
  --color-greyL-3: lightgrey;

  /*Color: Secundario*/
  --color-white: #fff;
  --color-black: #222;
  --color-red-dark: hsl(360, 67%, 44%);
  --color-red: red;
  --color-green-dark: darkgreen;
  --color-green-: hsl(125, 71%, 66%);
  
  /*Fuentes:*/
  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Open Sans", sans-serif;

  /*Otros:*/
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/* ============================================================================ 
Estilos Globales
===============================================================================*/

*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--font-secondary);
  background: var(--color-white);
  color: var(--color-primaryD-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img:not(.logo) {
  width: 100%;
}
img {
  display: block;
}
h1, h2, h3, h4 {
  letter-spacing: var(--spacing);
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--font-primary);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--color-primaryD-1);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1, h2, h3, h4 {
    line-height: 1;
  }
}

.hero {
  min-height: 90vh;
  display: grid;
  place-items: center;
  
}
.banner {
  background: rgba(222, 219, 219, 0.379);
  padding: 4rem 0;
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  text-align: center;
  width: 90vw;
  max-width: var(--fixed-width);
}

.section-center {
  max-width: var(--fixed-width);
}
.question {
  background: var(--color-white);
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  padding: 1.5rem 1.5rem 0 1.5rem;
  margin-bottom: 2rem;
}
.question-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  padding-bottom: 1rem;
}

.question-title p {
  margin-bottom: 0;
  letter-spacing: var(--spacing);
  color: var(--color-primaryD-1);
}
.question-btn {
  font-size: 1.5rem;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  transition: var(--transition);
  color: var(--color-primaryD-1);
}
.question-btn:hover {
  transform: rotate(90deg);
}
.question-text {
  padding: 1rem 0 1.5rem 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.question-text p {
  margin-bottom: 0;
  color: var(--color-primary-2);
}
/* hide text */
.question-text {
  display: none;
}
.show-text .question-text {
  display: block;
}
.minus-icon {
  display: none;
}
.show-text .minus-icon {
  display: inline;
}
.show-text .plus-icon {
  display: none;
}






















